ARC_TESTNET_RPC_URL=https://rpc.testnet.arc.network
ARC_TESTNET_PRIVATE_KEY=0xYOUR_PRIVATE_KEY
TOKEN_OWNER=0xYOUR_OWNER_ADDRESS
TOKENS_INITIAL_SUPPLY=1000000
ACTIVITY_TOKEN_ADDRESSES=0xTOKEN_1,0xTOKEN_2,0xTOKEN_3
ACTIVITY_TRANSACTIONS_PER_TOKEN=120
ACTIVITY_MIN_TRANSFER_AMOUNT=5
ACTIVITY_MAX_TRANSFER_AMOUNT=250
ACTIVITY_MIN_DELAY_MS=500
ACTIVITY_MAX_DELAY_MS=1000
ACTIVITY_REUSE_RECIPIENT_CHANCE=0.35
